<IfModule mod_rewrite.c>
  RewriteEngine on
  Options -Indexes  
  # Modify the RewriteBase if you are using zina in a subdirectory and
  # the rewrite rules are not working properly.
  # RewriteBase /zina

  # Rewrite current-style URLs of the form 'index.php?p=x'.

  RewriteCond %{HTTP_HOST} ^www\.itcslive\.in [NC]
  RewriteCond %{SERVER_PORT} 80 
  RewriteRule ^(.*)$ https://www.itcslive.in/$1 [R,L]
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^(.*)$ classes/404.php [L,QSA]
</IfModule>